.cont {
    display: grid;
    width: 800px;
    grid-template-columns: repeat(12, auto);
    grid-template-rows: 50px 150px 150px 150px 150px 50px;
    gap: 20px;
}

.cont div:nth-child(1) {
    background-color: gray;
    grid-column: 1/13;
}

.cont div:nth-child(2) {
    background-color: blue;
    grid-column: 1/9;
}

.cont div:nth-child(3) {
    background-color: cadetblue;
    grid-column: 9/13;
}

.cont div:nth-child(4) {
    background-color: yellow;
    grid-column: 1/5;
}

.cont div:nth-child(5) {
    background-color: yellow;
    grid-column: 5/9;
}

.cont div:nth-child(6) {
    background-color: yellow;
    grid-column: 9/13;
}

.cont div:nth-child(7) {
    background-color: cadetblue;
    grid-column: 1/5;
}

.cont div:nth-child(8) {
    background-color: blue;
    grid-column: 5/13;
}

.cont div:nth-child(9) {
    background-color: orange;
    grid-column: 1/4;
}

.cont div:nth-child(10) {
    background-color: orange;
    grid-column: 4/7;
}

.cont div:nth-child(11) {
    background-color: orange;
    grid-column: 7/10;
}

.cont div:nth-child(12) {
    background-color: orange;
    grid-column: 10/13;
}

.cont div:nth-child(13) {
    background-color: grey;
    grid-column: 1/13;
}